%h1 Система управления библиотекой
%h2 Добро пожаловать в электронную библиотеку!
%p Управление библиотекой:
%ul
  - if can? :read, User
    %li= link_to 'Пользователи', users_path
  %li= link_to 'Книги', books_path
  %li= link_to 'Аренды', rentals_path
%br
= link_to 'Библиотека', library_path
